@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  color: white;
  box-sizing: border-box;
  font-family: Satisfy, sans-serif;
}
h1 {
  text-align: center;
  font-size: 48px;
  margin: 24px 0;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #bcabcd;
}
.frame {
  height: 480px;
  background-color: white;
  border: 2px solid #9081a0;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  margin: 0px 64px;
}
.container div {
  flex: 1;
}
.container:first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
}
input {
  width: 200px;
}
button {
  width: 200px;
}
.modes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.button {
  font-size: 32px;
  border: 2px solid #9081a0;
  margin: 0;
  padding: 0;
  background: none;
}
.proportion {
  font-size: 24px;
}
.range-input-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
