* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 24px;
}

#board {
  width: 540px;
  height: 540px;
  display: flex;
  flex-direction: column;

  border: 1px solid black;
}

.square {
  border: 1px solid #484850;
  flex: 1;
}

.column {
  display: flex;
  flex: 1;
}
